/* CSS Stylesheet */

body {
  background-image: url(../img/bg.svg);
  background-repeat: no-repeat;
  background-position: center 50px;
  background-color: #231F20;
  background-attachment: fixed;

  font-family: "Open Sans", sans-serif;
  color: white;
}

h1 {
  font-family: "Odibee Sans", sans-serif;
  color: #F68A20;
  font-size: 2rem;
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

.navbar-custom {
  background:#231F20;
  background:rgba(35,31,32,0.75);
  font-family: "Odibee Sans", sans-serif;
  font-size: 1.4rem;
}

.navbar-custom a:hover {
  color: #F68A20;
}

.navbar-brand {
  color: #F68A20;
  font-size: 1.8rem;
}

.nav-link {
  color: #F68A20;
}

.navbar-nav a:hover {
  color: #FABD20;
  text-decoration: underline;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: solid;
  outline-width: 1px;
  outline-color: #F68A20;
  box-shadow: none;
}

.content {
  background:#231F20;
  background:rgba(35,31,32,0.75);
  margin: 10px 0 16px 0;
  padding: 6px;
}

.footer {
  color: #F68A20;
  background: none;
  font-family: "Odibee Sans", sans-serif;
  text-decoration: none;
  margin: 10px;
}

.footer a {
  color: #F68A20;
  background: none;
  font-family: "Odibee Sans", sans-serif;
  text-decoration: none;
}

.footer a:hover {
  color: #FABD20;
  text-decoration: underline;
}

.separator {
  height: 2px;
  margin: 12px auto;
  width: 80%;
  background-color: #F68A20;
}
