{% extends "layout.html" %}

{% block title %}Own Your Rivalries{% endblock %}

{% block content %}
<div class="container">
  <div class="row">

    <!-- Main Column -->
    <div class="col-lg-8">
      <div class="col content">
        <h1>Latest News</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae arcu in libero pulvinar semper. Maecenas fringilla nisl in mi facilisis, vitae egestas metus sodales. Nunc dictum nunc purus, blandit pretium purus bibendum ut. Maecenas hendrerit, augue venenatis tincidunt condimentum, diam eros ultricies enim, rhoncus ultricies sapien nunc nec eros. Sed iaculis auctor tellus, sit amet tempus lacus posuere vehicula. Cras bibendum turpis sit amet porta rutrum. Duis convallis facilisis diam quis sodales. Proin vel semper nibh. Sed ac gravida sem. In scelerisque arcu vestibulum, interdum mauris vitae, facilisis purus. Integer sed porta mauris.
        </p>
        <div class="separator"></div>
        <p>
          Quia dolorem molestias voluptate reiciendis vero eos. Vel dolorem quae laudantium rerum blanditiis perspiciatis. Repudiandae atque in rem blanditiis enim numquam voluptatem sapiente. Recusandae dolor aliquam rerum eum voluptates et. Nobis aut excepturi a earum quibusdam maxime atque. Reiciendis et dolor iste vero. Quis aut incidunt ea quidem voluptatem. Placeat quibusdam ut enim consequatur. Aut tempore sed magnam. Sequi molestiae ipsum qui et ducimus eaque alias itaque. Pariatuz consequuntur possimus aut cum fugit est. Tempore labore ea beatae rerum omnis ut tempore.
        </p>
        <div class="separator"></div>
        <p>
          Aliquam porta volutpat quam non accumsan. Nunc hendrerit, neque in lobortis mollis, mi augue porta odio, ut semper lorem ligula sed velit. Integer vulputate eros varius gravida fringilla. In malesuada urna ut tellus fringilla, nec aliquet lorem auctor. Donec ut purus malesuada nibh rutrum hendrerit. Proin porta suscipit mollis. Phasellus eleifend et turpis sollicitudin tempor. Aliquam gravida pellentesque magna. Sed pharetra facilisis velit sit amet porttitor. Fusce mattis eget arcu nec porttitor.
        </p>
      </div>

      <div class="col content">
        <h1>Featured Local</h1>
        <p>
          Donec ac ante quis massa consequat semper. Fusce aliquet metus vel erat facilisis, et tincidunt ligula tempus. Suspendisse potenti. Curabitur vitae purus nec nunc accumsan tristique et id dolor. Donec eget orci velit. Etiam egestas quam ut dui placerat, a mollis augue malesuada. Nam tortor mi, rutrum sed arcu sit amet, lobortis pellentesque erat. Vivamus viverra nibh enim, ac porttitor nibh malesuada vel.
        </p>
      </div>
    </div>

    <!-- Sidebar -->
    <div class="col-lg-4">
      <div class="col content">
        <h1>Upcoming Events</h1>
        <p>
          Mauris sollicitudin scelerisque magna et faucibus. Aenean porta, lectus nec sagittis aliquam, metus augue tincidunt nunc, at vehicula sem nulla rhoncus dolor. Mauris vitae odio efficitur, sagittis arcu ac, euismod dolor. Donec ornare nulla quis auctor faucibus. Aenean ullamcorper odio tellus, vel sodales lorem cursus eu.
        </p>
      </div>

      <div class="col content">
        <h1>Players to Watch</h1>
        <p>
          Fusce congue purus tortor, a pharetra magna fermentum eget. Nullam sodales justo ut libero fermentum, in suscipit mi maximus. Curabitur sollicitudin quis neque non facilisis. Aenean pharetra est nec sollicitudin aliquam. Morbi eget libero vestibulum, tristique purus ut, viverra ligula. Sed pellentesque quam nibh. Proin nec ex massa. Vivamus orci orci, aliquam et scelerisque at, maximus quis ex.
        </p>
      </div>
    </div>


  </div>

  <!-- Bottom Row -->
  <div class="row">
    <div class="col">
      <div class="col content">
      <h1>Follow Us!</h1>
      <p>
        Nam in sapien eu tellus molestie faucibus. Donec eget rutrum diam. Integer tempus nisi nulla, in consectetur diam consectetur non. Proin sed sagittis felis. Aliquam sit amet placerat ante, eu iaculis dolor. Mauris eu sollicitudin nunc. Maecenas et urna sollicitudin nibh vulputate ultrices laoreet vel sapien. Suspendisse sit amet diam nulla. Integer rhoncus suscipit nibh feugiat vulputate.
      </p>
      </div>
    </div>
  </div>

</div>
{% endblock %}
